:root{
    --primary-color: #3e1b0c;
    --Main-Title:#F5EFE6; 
    --text-color:#C9C0B5;
    --hover-color:#C97A3D;
    --button-bg-color:#D68A4C;
    --border-color:#8A5A3A;
    --bg-color:#1A120B;
}

